@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* google online font liberary */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

body,
html {
    overflow-x: hidden;
    /* The overflow-x property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the left and right edges. */
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url('Sarmoli\ –\ Munsiyari\ Uttarakhand.jfif');
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;

}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 6px 18px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke
}



section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;

}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;

}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}


.row .col img {
    width: 80%;
}

.explore {
    width: 100%;
    height: 200vh;
    background-image: url('uu.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.explore-content {
    width: 50%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
    margin: 50px;
}

.explore-content p {
    color: rgb(221, 221, 221);
}

.explore-content.ctn {
    margin-top: 40px;
}

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 250px;
    margin: 10px
}

.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0;
    margin: 2px auto;
}

.content-col .ctn {
    margin-left: -100px;
}

.form {

    height: 100vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20 px;
    box-shadow: 0px 0px 20px #00000010;
    background-color: whitesmoke;
    border-radius: 8px;
    margin-bottom: 20px;
}

.container .line {
    margin-left: -10px;
}

.form-group {
    width: 100%;
    margin-top: 20px;
    font-size: 20px
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    font-size: 10px;
    border: 1px solid;
    border: 1px solid rgba(128, 128, 128, 0.199);
    margin-top: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 24px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibr', 'Trebuchet MS', sans-serif;
    color: rgb(27, 166, 247);
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s ease background-color;
}

button[type="submit"]:hover {

    background-color: rgb(214, 226, 236);
}
.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background-color: #484872;
    text-align: center;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

img {
    transition: transform .3s ease;

}

img:hover {
    transform: scale(1.1);
}

.ctn:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}

li:hover {
    color: #fc036b;
    cursor: pointer;

}

.pg {
    font-size: 4vmin;
    color: #484872;
    margin-top: 10%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibr', 'Trebuchet MS', sans-serif;

}

.vdd {
    align-items: center;
    padding-top: 20px;
}

.maha2 {
    margin-top: 100px;
}

.img1 {
    padding-top: 110px;
    max-width: 80%;
}

.maha1 {
    margin-bottom: 0;
}

.ctn1 {


    margin-bottom: 80px;
    padding: 6px 18px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke
}


.ctn1:hover {
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px #00000056;
}

.map .line {
    margin-left: -10px
}

.map h2 {
    font-size: 5vmin;
    color: #484872;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibr', 'Trebuchet MS', sans-serif;
}

.map p {
    padding-top: 50px;
    margin-left: 350px;
}

.form1 .container h1 {
    font-size: 5vmin;
    color: #484872;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibr', 'Trebuchet MS', sans-serif;
}